*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}
.a{

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 85px 185px;
}
.s{
    width: 240px;
    height: 240px;
    display: flex;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    background: #995DB5;
    border: 1px solid black;
}
.d{
    background-color: rgb(255, 166, 0);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 0px 0px;
    border: 1px solid black;

}
.sa{
    width: 240px;
    height: 240px;
    display: flex;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    background: #995DB5;
    flex-direction: column;
}
.ss{
    width: 240px;
    height: 240px;
    display: flex;
    padding: 8px  8px;
    gap: 8px;
    border-radius: 8px;
    background: #995DB5;
    flex-wrap: wrap;
}   
.sad{
    width: 240px;
    height: 240px;
    display: flex;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    background: #995DB5;
    border: 1px solid black;
    justify-content: space-between;
}
.ssa{
    width: 240px;
    height: 240px;
    display: flex;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    background: #995DB5;
    border: 1px solid black;
    justify-content: end;
}
.sas{
    width: 240px;
    height: 240px;
    display: flex;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    background: #995DB5;
    border: 1px solid black;
    justify-content: center;
}
.saf{
    width: 240px;
    height: 240px;
    display: flex;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    background: #995DB5;
    border: 1px solid black;
    align-items:end ;
}
.sey{
    width: 240px;
    height: 240px;
    display: flex;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    background: #995DB5;
    border: 1px solid black;
    align-items: center;
}